
# ------------------------------------------------------------------------------ COMPOSER

# Ignore loaded composer modules
www/app/vendor/*

# Ignore composer lock installation
www/app/composer.lock


# ------------------------------------------------------------------------------ DEPLOYED

# Ignore deployed files (see comments inside this file before removing comment)
#www/app/configs/app.yml


# ------------------------------------------------------------------------------ POOPS

# Mac poops
.DS_Store

# Ignore ide files
.idea

# Logs
logs
*.log