
{% extends "layouts/mainLayout.twig" %}

{% block content %}

	<!-- APP DOM -->
	<div class="AppView">
		<h1>{{ D.currentPage.title }}</h1>
		<p>{{ D.currentPage.content }}</p>
	</div>

	<!-- APP SCRIPTS -->
	<script>
		/*
		requirejs(['src/moduleName/Main'], function (MainModule)
		{
			var app = new MainModule.Main({
				root		: $('.AppView'),
				host		: "{{ config.server.host }}",
				base		: "{{ config.server.base }}"
			});
		});
		*/
	</script>
{% endblock %}