<div class="CookieBanner">
	<p class="CookieBanner_text">Les cookies assurent le bon fonctionnement de nos services.
		En poursuivant votre navigation sur ce site, vous acceptez l’utilisation des cookies.
		Pour en savoir plus, <a href="{{ config.links.cgu }}" target="_blank">cliquez ici</a>.</p>
	<a id="CookieBanner_closeLink" class="CookieBanner_close" href=""><span></span></a>
</div>